# split-apply-combine explained

In [2]:
import pandas as pd

In [4]:
dataset= pd.read_csv("Campus_Placement_Tracker_500.csv")

In [6]:
dataset_slice= dataset.iloc[:10,[3,6]]

In [8]:
dataset_slice

   Gender  CTC (LPA)
0  Female       3.43
1    Male       5.63
2    Male       4.17
3  Female       3.42
4    Male       3.14
5  Female       5.92
6  Female       4.41
7  Female       4.71
8    Male       4.93
9    Male       5.31

In [10]:
list(dataset_slice.groupby("Gender"))[0][1]

   Gender  CTC (LPA)
0  Female       3.43
3  Female       3.42
5  Female       5.92
6  Female       4.41
7  Female       4.71

In [14]:
list(dataset_slice.groupby("Gender"))[1][1]

  Gender  CTC (LPA)
1   Male       5.63
2   Male       4.17
4   Male       3.14
8   Male       4.93
9   Male       5.31

In [18]:
dataset_slice.groupby("Gender").mean()

        CTC (LPA)
Gender
Female      4.378
Male        4.636

In [16]:
dataset_slice.groupby("Gender")

In [28]:
dataset.groupby("Gender")["CTC (LPA)"].sum()

Gender
Female    2808.75
Male      2777.04
Name: CTC (LPA), dtype: float64

In [22]:
dataset.groupby("Gender")[["CTC (LPA)"]].max()

        CTC (LPA)
Gender
Female      29.91
Male        29.92

In [20]:
dataset.groupby("Gender")

In [36]:
new_df = dataset.groupby("Gender")
new_df

In [38]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use("seaborn")

OSError: 'seaborn' is not a valid package style, path of style file, URL of style file, or library style name (library styles are listed in `style.available`)