In [1]:
import pandas as pd

In [3]:
dataset= pd.read_csv("Campus_Placement_Tracker_500.csv")

In [4]:
dataset["First Name"]

0       Shruti
1          Dev
2          Dev
3       Atharv
4          Sai
        ...
495      Aarav
496        Dev
497     Ishaan
498    Kritika
499      Arjun
Name: First Name, Length: 500, dtype: object

In [5]:
type(dataset["First Name"])

pandas.core.series.Series

In [7]:
dataset[["CTC (LPA)","Job Role"]]

     CTC (LPA)           Job Role
0         3.43  Software Engineer
1         5.63       Data Analyst
2         4.17  Software Engineer
3         3.42    DevOps Engineer
4         3.14    DevOps Engineer
..         ...                ...
495      21.62  Backend Developer
496      13.19       Data Analyst
497      12.04    DevOps Engineer
498      20.80     System Analyst
499      22.68     System Analyst

[500 rows x 2 columns]

In [9]:
dataset.Branch

0           Civil
1      Mechanical
2             ECE
3             ECE
4           Civil
          ...
495           EEE
496         Civil
497         Civil
498            IT
499    Mechanical
Name: Branch, Length: 500, dtype: object

In [13]:
dataset.Branch.equals(dataset["Branch"])

True