In [1]:
import pandas as pd

In [3]:
dataframe=pd.read_csv("Campus_Placement_Tracker_500.csv")

In [4]:
dataframe

,Roll Number,First Name,Last Name,Gender,Branch,Company,CTC (LPA),Job Role
0,22BCE6764,Shruti,Gupta,Female,Civil,Capgemini,3.43,Software Engineer
1,22BCE1856,Dev,Sharma,Male,Mechanical,Cognizant,5.63,Data Analyst
2,22BCE7769,Dev,Pandey,Male,ECE,TCS,4.17,Software Engineer
3,22BCE3591,Atharv,Mehta,Female,ECE,Infosys,3.42,DevOps Engineer
4,22BCE2533,Sai,Agarwal,Male,Civil,TCS,3.14,DevOps Engineer
...,...,...,...,...,...,...,...,...
495,22BCE9836,Aarav,Verma,Male,EEE,Google,21.62,Backend Developer
496,22BCE3684,Dev,Joshi,Female,Civil,Wipro,13.19,Data Analyst
497,22BCE3357,Ishaan,Reddy,Female,Civil,Google,12.04,DevOps Engineer
498,22BCE6715,Kritika,Kapoor,Male,IT,TCS,20.80,System Analyst
499,22BCE7062,Arjun,Kapoor,Male,Mechanical,Google,22.68,System Analyst

# Selecting rows with loc[]

In [5]:
dataframe.iloc[2]

Roll Number            22BCE7769
First Name                   Dev
Last Name                 Pandey
Gender                      Male
Branch                       ECE
Company                      TCS
CTC (LPA)                   4.17
Job Role       Software Engineer
Name: 2, dtype: object

In [14]:
print(dataframe.index)

RangeIndex(start=0, stop=500, step=1)