In [2]:
import pandas as pd

In [3]:
dataset= pd.read_csv("Campus_Placement_Tracker_500.csv")

In [5]:
Name = dataset["First Name"]

In [6]:
Name

0       Shruti
1          Dev
2          Dev
3       Atharv
4          Sai
        ...
495      Aarav
496        Dev
497     Ishaan
498    Kritika
499      Arjun
Name: First Name, Length: 500, dtype: object

In [7]:
Name.head()

0    Shruti
1       Dev
2       Dev
3    Atharv
4       Sai
Name: First Name, dtype: object

In [8]:
Name.tail(5)

495      Aarav
496        Dev
497     Ishaan
498    Kritika
499      Arjun
Name: First Name, dtype: object

In [9]:
type(Name)

pandas.core.series.Series

In [10]:
Name.dtype

dtype('O')

In [11]:
Name.shape

(500,)

In [12]:
Name.describe()

count       500
unique       40
top       Kabir
freq         23
Name: First Name, dtype: object

In [13]:
Name.size

500

In [14]:
Name.count()

np.int64(500)

In [15]:
Name.min()

'Aadhya'

In [16]:
Name.unique()

array(['Shruti', 'Dev', 'Atharv', 'Sai', 'Saanvi', 'Aryan', 'Harsh',
       'Ananya', 'Kiara', 'Vihaan', 'Sara', 'Aarav', 'Avni', 'Naman',
       'Kunal', 'Tanya', 'Yash', 'Prisha', 'Pihu', 'Aadhya', 'Reyansh',
       'Aditya', 'Kabir', 'Vivaan', 'Myra', 'Anika', 'Kritika', 'Tanvi',
       'Arjun', 'Krishna', 'Laksh', 'Ishaan', 'Diya', 'Ira', 'Om', 'Riya',
       'Niharika', 'Trisha', 'Meera', 'Rohan'], dtype=object)

In [17]:
len(Name.unique())

40

In [18]:
Name.nunique()

40

In [19]:
Name.value_counts(sort = True,ascending = True)

First Name
Rohan        6
Diya         6
Kunal        7
Tanvi        7
Ira          7
Om           7
Harsh        8
Aadhya       9
Ishaan       9
Vivaan      10
Myra        10
Tanya       11
Pihu        11
Prisha      11
Saanvi      11
Krishna     12
Atharv      12
Naman       12
Avni        13
Aarav       13
Anika       13
Kiara       13
Aryan       13
Sai         13
Niharika    13
Trisha      13
Dev         14
Riya        14
Reyansh     14
Laksh       14
Shruti      15
Vihaan      16
Arjun       16
Meera       16
Ananya      17
Kritika     17
Yash        18
Aditya      18
Sara        18
Kabir       23
Name: count, dtype: int64

In [21]:
Name.value_counts(sort = True,ascending = False,normalize = True).head()

First Name
Kabir     0.046
Aditya    0.036
Sara      0.036
Yash      0.036
Ananya    0.034
Name: proportion, dtype: float64